/* Common rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;

}
.row {
    display: flex;
    flex-wrap: wrap;
}
body{
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;
}




/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

a{
    color: #FFFFFF;
    text-decoration: none;
    margin: 1rem;
}

.btn {
        color: var(--clr-white);
        padding: 0.6rem 0.75rem;
        font-weight: 700;
        font-size: 0.7rem;
        border: none;
        border-radius: 1rem;
        background-color: #FFFFFF;
}

.title {
    justify-content: space-between;
    align-items: center;
}

.title>[class^="col-"]{
    padding: 0.5rem;
}
.login{
    float: right;
}
.title .col-8{
    text-align: center;
}



/* Main */


.sub_title {
    padding-top: 8rem;
    padding-bottom: 3rem;
    background-image: url(../assets/img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
       color: #FFFFFF;
    text-align: center;
        
}
h2{
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin-top: 1.5rem;
}
p{
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.download{
    color: black;
    padding: 0.7rem 1.2rem;
    font-size: 0.95rem;
    margin-right: 0.5rem;
}
.open_browser{
    background-color: #23272A;
    padding: 0.7rem 1.2rem;
    font-size: 0.95rem;
}
.sub_section {
    padding: 3rem 0;
}
.sub_section.white {
    background-color: #FFFFFF;
    
}

.sub_section.grey {
    background-color: #F6F6F6;
}

.end_main{
    text-align: center;
}
.stars{
    background-image: url(../assets/img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 1rem;
    font-weight: bold;
    
}
.purple{
    background-color: #7289DA;
    margin-top: 3rem;
    color: #FFFFFF;
}


/* Footer */

footer {
    background-color: #23272A;
}

.footer_top{
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    border-bottom: 2px solid white;

}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    margin-top: 1.5rem;
}










/* Griglia con Flexbox */
.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-6 {
    width: calc((100% / 12) * 6);
}

.col-7 {
    width: calc((100% / 12) * 7);
}

.col-8 {
    width: calc((100% / 12) * 8);
    

}

.col-9 {
    width: calc((100% / 12) * 9);
}











/* Debug

.debug header {
    background-color: #ADD8E6;

}

.debug .container {
    background-color: #DAA520;
}

.debug [class^="col-"] {
    border: 2px dashed black;
    
}

.debug .sub_title {
    background-color: #00008B;
}

.debug .container.title_main {
    height: 400px;
    background-color: #EE82EE;
    border: 2px dashed black;
}

.debug .col-7,
.debug footer .col-8 {
    height: 500px;
    background-color: #1E90FF;
}

.debug .col-3 {
    height: 500px;
    border: 2px dashed white;
}

.debug .col-4,
.debug .col-5 {
    height: 500px;
    background-color: #FFC0CB;
}

.debug .end_main {
    height: 900px;
    background-color: #228B22;
    border: 2px dashed black;
}

.debug .img {
    width: 50px;
    height: 35  px;
    border: 2px dashed black;
    background-color: #FFB6C1
}
.debug .footer_bottom{
    background-color: #7FFFD4;
}
.debug .footer_top{
    background-color: #23272A 
} */
